@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&display=swap');

$site-font: 'Montserrat', sans-serif;
$site-title-font: 'Gochi Hand', cursive;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
